/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  font-family: 'Playfair Display', serif;
  color: blue;
}

p {
  font-family: 'Poppins', sans-serif;
}

i {
  color: rgb(0, 110, 255);
  padding-left: 10px;
}